__pycache__/__init__.cpython-310.pyc
models/__pycache__/__init__.cpython-310.pyc
models/__pycache__/diagnostico.cpython-310.pyc
models/__pycache__/medico.cpython-310.pyc
models/__pycache__/paciente.cpython-310.pyc
